@using AllWeKnow.App.Services.Partials
@inject JokeService JokeService

<div class="loader">
  <div class="loader-div">
          <span class="spinner"></span>
          <span>@(Joke)</span>
    </div>
</div> 


@code {

    private string Joke = "";

    protected override void OnInitialized()
    {
        Joke = JokeService.GetJoke();

    }

}