@page "/neuer-artikel"

@using AllWeKnow.App.Models



<input type="text" placeholder="Der Titel des Artikels" class="inp-l  m-b"/><br/>
<input type="text" placeholder="Eine Kurze Beschreibung des Artikels" class="m-b"/>

<div class="upload m-b">
    <label for="input">Titelbild hochladen</label>
</div>

<EditForm Model="form">
    <TextEditor @bind-Value="@form.Content" InitialContent="A well written post content from you" Styles="height: 55vh"/>

</EditForm>

<h1>@form.Content</h1>

<InputFile accept=".png,.jpg,.jpeg,.gif,.svg" id='input'/>

<br/>
<button>Artikel speichern</button>



@code { 
    Form form = new Form()
    {
        Content = "",
        Thing = ""
    };
}