@page "/Test"
@using WYSIWYGTextEditor
@using HtmlAgilityPack
@using AllWeKnow.Shared.Components
@using AllWeKnow.Shared.Components.Partials
@using WYSIWYGTextEditor

<TextEditor @ref="@Editor">
        <EditorContent>
            <Images/>
        </EditorContent>
</TextEditor>


<button @onclick="Save">Save</button>

<Title>Test</Title>

@code {

    TextEditor Editor;
    HtmlDocument document = new();
    
    private async Task Save()
    {
        var content = await Editor.GetHTML();
        

        document.LoadHtml(content);
        document.DocumentNode.Descendants("img")
            .ToList()
            .ForEach(async x =>
            {
                var source = x.GetAttributeValue("src", null);

                switch (source.Substring(0, 15))
                {
                    case "data:image/jpeg":
                        await JPGHandler(source);
                        break;
                    case "data:image/jpg;":
                        await JPGHandler(source);
                        break;
                    case "data:image/png;":
                        await PNGHandler(source);
                        break;
                }
            });

    }

    static Task JPGHandler(string src)
    {
        // Do the converting here for jpg/jpeg images
        // Attention: There can be sources with "data:image/jpeg" and "data:image/jpg"
        Console.WriteLine("handling jpg");
        
        
        return Task.CompletedTask;
    }
    
    private Task PNGHandler(string src)
    {
        // Do the converting here for png images
        Console.WriteLine("handling png");
        
        
        return Task.CompletedTask;
    }
    
    
    
    
    
}