@page "/Test"

@using AllWeKnow.App.Models

<Title>Test</Title>

<h3>Test</h3>



<EditForm Model="form">
    <TextEditor @bind-Value="form.Content" InitialContent="<b>A well written post content from you</b>" Styles="height: 55vh"/>

</EditForm>


@code {

    Form form = new Form()
    {
        Content = "",
        Thing = ""
    };
    
}