@page "/Test"
@using WYSIWYGTextEditor
@using HtmlAgilityPack
@using AllWeKnow.Shared.Components
@using AllWeKnow.Shared.Components.Partials
@using WYSIWYGTextEditor

<TextEditor @ref="@Editor">
        <EditorContent>
            <Images/>
        </EditorContent>
</TextEditor>


<button @onclick="Save">Save</button>

<Title>Test</Title>

@code {

    TextEditor Editor;
    HtmlDocument document = new();
    
    public void Save()
    {
        Console.Write("saving");
        string? content = Editor.GetHTML().ToString();

        
        // does not work
        document.LoadHtml(content);
        document.DocumentNode.Descendants("img")
            .Where(e =>
            {
                //  
                var src = e.GetAttributeValue("src", null) ?? "";
                return !string.IsNullOrEmpty(src) && src.StartsWith("data:image");
            })
            .ToList()
            .ForEach(x =>
            {
                var source = x.GetAttributeValue("src", null);

                Console.Write(source);
            });
    }
    
    
    
}