@page "/"
@using AllWeKnow.App.Services
@using AllWeKnow.App.Database
@using AllWeKnow.App.Database.Models
@using AllWeKnow.App.Repository
@using AllWeKnow.App.Services
@using Microsoft.AspNetCore.Components.Web
@inject UserService UserService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<LazyLoader Load="Load">
   @userfromid.Rights
</LazyLoader>


@code {
   
   
   string username;
   User userfromid;

   public Task Load(LazyLoader arg)
   {
      var users = UserService.GetAllUsers();
      
      foreach (var user in users.ToList())
      {
         Console.WriteLine(user.Fullname);
      }
      userfromid = UserService.GetUserById(1);
      

      
      return Task.CompletedTask;
   }

}


