@page "/"
@using AllWeKnow.App.Services
@using AllWeKnow.App.Database
@using AllWeKnow.App.Database.Models
@using AllWeKnow.App.Repository
@using AllWeKnow.App.Services
@using Microsoft.AspNetCore.Components.Web
@inject UserService UserService
@inject ArticleService ArticleService
@inject SubjectService SubjectService
@inject NavigationManager navigationManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>



@code {
   
    

}


