@page "/"
@using AllWeKnow.App.Services
@using AllWeKnow.App.Database
@using AllWeKnow.App.Database.Models
@using AllWeKnow.App.Repository
@using AllWeKnow.App.Services
@using Microsoft.AspNetCore.Components.Web
@inject UserService UserService
@inject ArticleService ArticleService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<LazyLoader Load="Load">
   @randomArticle.Id.ToString()
</LazyLoader>


@code {
   
   private Article? randomArticle;

   

   public Task Load(LazyLoader arg)
   {
      randomArticle = ArticleService.GetRandom();
      
      return Task.CompletedTask;
   }

}


