@using AllWeKnow.App.Services
@inherits LayoutComponentBase

@inject SettingsService SettingsService


<PageTitle>Wird geladen...</PageTitle>

@if (initialized)
{
    <NavBar Title="@appName"/>

    <div class="container">
        @Body
    </div>
}
else
{
    <Loader/>
}



@code {

    private bool initialized = false;

    private string appName = "";

    protected override async Task OnInitializedAsync()
    {
        appName = SettingsService.GetAppName();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            initialized = true;
            await InvokeAsync(StateHasChanged);
        }
    }

}